<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://www.stickpng.com/assets/images/58a7a3115ad0fd0b7fdd33d7.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <style type="text/css">
	.background{
		background-color:  #e6f7ff;
		
	}
	.vertical-center {
	  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	  min-height: 100vh; /* These two lines are counted as one :-)       */

	 /* display: flex; */
	 padding: 10px 0;
	  align-items: center;
	  border-radius: 30px;
	  background-color: #17A2B8; 
		background-image: linear-gradient(#56BB86,  #ffcc00);"
	}
	</style>

    <title>Marlies & Maxi</title>


</head>

<body class="background">
		<div class="container vertical-center text-center " >
		{% block content %}
	     {% endblock %}

	</div>
		

		

        
         


</body>

</html>