{% extends "timer/base.html" %}
{% block content %}

<style type="text/css">
    .btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;

}
    .clock-font {
        font-family: 'Black Ops One';
        color: white;
    }
</style>

<script>
$(document).ready(function(){
  $('#textToggle1').hide();

  $('#buttonToggle1').click(function(){
    $('#textToggle1').slideToggle();
    $('#textToggle2').slideToggle();

    });

    //var sec =  document.getElementById("sec_fix").textContent // approach with DOM
    var sec = $("#sec_relative").text(); // approach with jquery
    secSplitted = sec.split(' ');
    sec = parseInt(secSplitted[0])
    var secText = secSplitted[1];

    var min = $("#min_relative").text(); // approach with jquery
    minSplitted = min.split(' ');
    min = parseInt(minSplitted[0])
    var minText = minSplitted[1];
    console.log(minSplitted)



  
    window.setInterval(function(){
        sec += 1;
        if (sec == 60) {
            
            if (min == 60){
             min = 0;

                
            } else {
               min += 1;
                $("#min_relative").text(min + ' ' + minText);
            }

            sec = 0;
        }
        $("#sec_relative").text(sec + ' ' + secText);
        
}, 1000);




    function addOne() {
        var sec2 = $("#sec_relative").text('sepp')

    };

    /*while (1 < 60) {
      setTimeout(addOne, 1000)

    }; */

    

});
</script>   

	
    <div class="row ">
        <div class="col-sm">
        	<hr>
        	<h2>Marlies & Maxi</h2>
        	<small class="text-muted">{{ now }}</small>
        	<hr>

        	<h3>In love since...</h3>

            <hr>

                <img src="https://cdn0.iconfinder.com/data/icons/multimedia-2-7/48/Artboard_28-512.png" id=buttonToggle1 height="50" width="50">

         
            <div id="textToggle1" class="clock-font">
                {% if years == 1%}
                        <h2 id='years_fix'>{{ years }} Jahr</h2>

                {%else%}
                    <h2 id='years_fix'>{{ years }} Jahre</h2>

                {%endif%}
                <h3 id='months_fix'>{{ months_fix }} Monate</h3>
                <h4 id='days_fix'>{{ diff.days }} Tage</h4>
                <h5 id='hours_fix'>{{ hours_fix }} Stunden</h5>
                <h6 id='min_fix'>{{ min_fix }} Minuten</h6>
                <small id='sec_fix'>{{ sec_fix }} Sekunden</small>

            </div>
        	
             <div id="textToggle2" class="clock-font">

                {% if years == 1%}
                        <h2 id='years_relative'>{{ years }} Jahr</h2>

                {%else%}
                    <h2 id='years_relative'>{{ years }} Jahre</h2>

                {%endif%}
                <h3 id='months_relative'>{{ months_relative }} Monate</h3>
                <h4 id='days_relative'>{{ days_relative.days }} Tage</h4>
                <h5 id='hours_relative'>{{ hours_relative }} Stunden</h5>
                <h6 id='min_relative'>{{ min_relative }} Minuten</h6>
                <small id='sec_relative'>{{ sec_relative }} Sekunden</small>

                

            </div>

        </div>
    </div>
{% endblock %}