{% extends "timer/base.html" %}
{% block content %}

	
    <div class="row ">
        <div class="col-sm">
        	<hr>
        	<h2>Marlies & Maxi</h2>
        	<small class="text-muted">{{ now }}</small>
        	<hr>

        	<h3>In love since...</h3>

        	<small>{{ start }}</small>
            <hr>
        	<h2>{{ years }} Jahre</h2>
            <h3>{{ months_fix }} Monate</h3>
            <h4>{{ diff.days }} Tage</h4>
            <h5>{{ hours_fix }} Stunden</h5>
            <h6>{{ min_fix }} Minuten</h6>
            <small>{{ sec_fix }} Sekunden</small>

        </div>
    </div>
{% endblock %}